//html.jade
//img(src="http://#{host}/favicon.ico")
div(style="background: linear-gradient(#90ee90,#ffffff); height: 200px")
    div(style="background:#AFFF1B;")
        img(style="display:inline; padding-top:5px; padding-left:5px;" src="https://pokeusr.files.wordpress.com/2015/07/favicon.png")
        h1(style="display:inline; padding:10px") Retro Tech Store
    h2 Hello #{username}!
    h3 Thank you for ordering in our store!
    a(href="http://#{host}/users/#{userid}/orders/#{orderurl}") Order details
